h1{

  font-family:Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
  color:#fcea3e;
  font-size:60px}
  
  body{
      background-color:#289688
  }
  
  img{
      border:solid 10px beige;
      margin:5px;

  }
